.mainContainer {
    width: 1920px;
    height: 1080px;
}

.location1 {
    width: 1920px;
    height: 1080px;
    background-image: url(#{resource['images/bg2.png']});
    background-repeat: repeat;
}

.location2 {
    width: 1024px;
    height: 768px;
    background-image: url(#{resource['images/bg1.png']});
    background-repeat: no-repeat;
}

.playerName {
    font-size: 11px !important;
    font-weight: bold;
    color: gold;
}

.enemyName {
    font-size: 11px !important;
    color: gold;
}

.layout-topbar {
    background-color: var(--surface-a);
    padding: 0;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-bottom: 1px solid var(--surface-d);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.topbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.topbar-form {
    margin-left: auto;
}

.dialog-left-top {
    background-image: url(#{resource['images/DIALOG/left_top.png']});
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    font-size: 1pt;
}

.dialog-top {
    background-image: url(#{resource['images/DIALOG/top.png']});
    background-repeat: repeat-x;
    height: 7px;
    font-size: 1pt;
}

.dialog-right-top {
    background-image: url(#{resource['images/DIALOG/right_top.png']});
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    font-size: 1pt;
}

.dialog-left-bottom {
    background-image: url(#{resource['images/DIALOG/left_bottom.png']});
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    font-size: 1pt;
}

.dialog-bottom {
    background-image: url(#{resource['images/DIALOG/bottom.png']});
    background-repeat: repeat-x;
    height: 7px;
    font-size: 1pt;
}

.dialog-right-bottom {
    background-image: url(#{resource['images/DIALOG/right_bottom.png']});
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    font-size: 1pt;
}

.dialog-left {
    background-image: url(#{resource['images/DIALOG/left.png']});
    background-repeat: repeat-y;
    width: 7px;
}

.dialog-right {
    background-image: url(#{resource['images/DIALOG/right.png']});
    background-repeat: repeat-y;
    width: 7px;
}

.dialog {
    background-color: white;
    font-family: monospace;
}